.footer {
    width: 100%;
    text-align: center;
}

.links-container {
    display: flex;
    justify-content: space-around;
}

.footer-links {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-around;

}

.footer-links__link {
    color: inherit;
    text-decoration: none;
}

.footer-links__link:hover {
    cursor: pointer;
    background-color: #eee;
}